// Raleway
@import 'etc/my-fonts/Raleway400.styl'
@import 'etc/my-fonts/Raleway500.styl'
@import 'etc/my-fonts/Raleway600.styl'
@import 'etc/my-fonts/Raleway700.styl'
@import 'etc/my-fonts/Raleway900.styl'
// Gotham Pro
@import 'etc/my-fonts/Gotham-Pro400.styl'
// SFUIDisplay
@import 'etc/my-fonts/SFUIDisplay400.styl'

body {
  font-size: 16px;
  line-height: 19px;
  font-weight 400
  font-family: sans-serif;
  color: #000000;
  font-style: normal;
}