.my-title
  position: relative;
  z-index: 1;
  
  margin-bottom 42px
  &--only-title
    margin-bottom 10px
  p
    font('Raleway', 18px, 400, #262A3C)
    
    position relative
    
    padding-left 140px
    padding-right 63px
    padding-bottom 11px
    .icon1
    .icon2
      bgs(100px, 100px)
      bgi('shopping.svg')
      
      position absolute
      left 20px
      bottom 6px
    &::before
      content ''
      
      position absolute
      left 0
      bottom 0
      z-index -1
      
      width 100%
      height 30px
      
      background-color #FFF2ED

      border-radius 0 40px
    .icon1
      bgi('cooker.svg')
  
.my-title__head-wrap
  display flex
  h1,
  h2
    font('Raleway', 32px, 700, #FF6800)

    position relative

    padding-left 20px
    padding-right 44px
    padding-bottom 11px
    &::before
      content ''

      position absolute
      left 0
      bottom 0
      z-index -1

      width 100%
      height 30px

      background-color #FFF2ED

      border-radius 0 40px
  &--sell
    h1,
    h2
      color #FD003A
      
      
      