@font-face {
  font-family: 'FuturisXCondC';
  font-style: normal;
  font-weight: 400;
  src: local('FuturisXCondC'), local('FuturisXCondC'),
       url('../fonts/FuturisXCondC/FuturisXCondC400/FuturisXCondC.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/FuturisXCondC/FuturisXCondC400/FuturisXCondC.woff') format('woff') /* Modern Browsers */
}