@font-face {
  font-family: 'Gill-Sans-Nova';
  font-style: normal;
  font-weight: 400;
  src: local('GillSansNova-Book'), local('GillSansNova Book'),
       url('../fonts/Gill-Sans-Nova/Gill-Sans-Nova400/GillSansNova-Book.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Gill-Sans-Nova/Gill-Sans-Nova400/GillSansNova-Book.woff') format('woff') /* Modern Browsers */
}