@font-face {
  font-family: 'Gill-Sans-Nova';
  font-style: normal;
  font-weight: 300;
  src: local('GillSansNova Light'), local('GillSansNova-Light'),
       url('../fonts/Gill-Sans-Nova/Gill-Sans-Nova300/GillSansNova-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Gill-Sans-Nova/Gill-Sans-Nova300/GillSansNova-Light.woff') format('woff') /* Modern Browsers */
}