@font-face {
  font-family: 'Gill-Sans-Nova';
  font-style: normal;
  font-weight: 900;
  src: local('GillSansNova Heavy'), local('GillSansNova-Heavy'),
       url('../fonts/Gill-Sans-Nova/Gill-Sans-Nova900/GillSansNova-Heavy.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Gill-Sans-Nova/Gill-Sans-Nova900/GillSansNova-Heavy.woff') format('woff') /* Modern Browsers */
}