@font-face {
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 400;
  src: local('HelveticaNeueCyr-Roman'), local('HelveticaNeueCyr-Roman'),
       url('../fonts/Helvetica-Neue-Cyr/Helvetica-Neue-Cyr400/HelveticaNeueCyr-Roman.woff2') format('woff2'),
       url('../fonts/Helvetica-Neue-Cyr/Helvetica-Neue-Cyr400/HelveticaNeueCyr-Roman.woff') format('woff')
}