@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Heavy'), local('Lato-Heavy'),
      url('../fonts/Lato/Lato900/Lato-Heavy.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/Lato/Lato900/Lato-Heavy.woff') format('woff') /* Modern Browsers */
}