@font-face {
  font-family: 'LetoSans';
  font-style: normal;
  font-weight: 400;
  src: local('LetoSans-Bold'), local('LetoSansBold'),
       url('../fonts/LetoSans/LetoSans400/LetoSans.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/LetoSans/LetoSans400/LetoSans.woff') format('woff') /* Modern Browsers */
}