@font-face {
  font-family: 'LetoSansCondensed';
  font-style: normal;
  font-weight: 400;
  src: local('LetoSansCondensed'), local('Leto-Sans-Condensed'),
       url('../fonts/LetoSansCondensed/LetoSansCondensed400/LetoSansCondensed.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/LetoSansCondensed/LetoSansCondensed400/LetoSansCondensed.woff') format('woff') /* Modern Browsers */
}