@font-face {
  font-family: 'Medieval';
  font-style: normal;
  font-weight: 700;
  src: local('Medieval'), local('Medieval'),
       url('../fonts/Medieval/Medieval700/Medieval.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Medieval/Medieval700/Medieval.woff') format('woff') /* Modern Browsers */
}