@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  src: local('MullerBold'), local('MullerBold'),
       url('../fonts/Muller/Muller700/MullerBold.woff') format('woff') /* Modern Browsers */
}