@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: local('MullerRegular'), local('MullerRegular'),
       url('../fonts/Muller/Muller400/MullerRegular.woff') format('woff') /* Modern Browsers */
}