@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 700;
  src: local('MyriadPro-Bold'), local('MyriadPro-Bold'),
       url('../fonts/MyriadPro/MyriadPro700/MyriadPro-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MyriadPro/MyriadPro700/MyriadPro-Bold.woff') format('woff') /* Modern Browsers */
}