@font-face {
  font-family: 'MyriadPro';
  font-style: normal;
  font-weight: 400;
  src: local('Myriad-Pro-Regular'), local('MyriadProRegular'),
       url('../fonts/MyriadPro/MyriadPro400/MyriadPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MyriadPro/MyriadPro400/MyriadPro-Regular.woff') format('woff') /* Modern Browsers */
}