@font-face {
  font-family: 'Proxima Nova Rg';
  font-style: normal;
  font-weight: 700;
  src: local('ProximaNova-Bold'), local('ProximaNova-Bold'),
       url('../fonts/Proxima-Nova-Rg/Proxima-Nova-Rg700/ProximaNova-Bold.woff2') format('woff2'),
       url('../fonts/Proxima-Nova-Rg/Proxima-Nova-Rg700/ProximaNova-Bold.woff') format('woff')
}