@font-face {
  font-family: 'Proxima Nova Rg';
  font-style: normal;
  font-weight: 400;
  src: local('ProximaNova-Regular'), local('ProximaNova-Regular'),
       url('../fonts/Proxima-Nova-Rg/Proxima-Nova-Rg400/ProximaNova-Regular.woff2') format('woff2'),
       url('../fonts/Proxima-Nova-Rg/Proxima-Nova-Rg400/ProximaNova-Regular.woff') format('woff')
}