@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway-Regular'), local('Raleway-Regular'),
       url('../fonts/Raleway/Raleway400/Raleway-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Raleway/Raleway400/Raleway-Regular.woff') format('woff') /* Modern Browsers */
}