@font-face {
  font-family: 'RotondaC';
  font-style: normal;
  font-weight: 700;
  src: local('RotondaC-Bold'), local('RotondaC Bold'),
       url('../fonts/RotondaC/RotondaC700/RotondaC-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/RotondaC/RotondaC700/RotondaC-Bold.woff') format('woff') /* Modern Browsers */
}