@font-face {
  font-family: 'SFUIDisplay';
  font-style: normal;
  font-weight: 500;
  src: local('SFUIDisplay'), local('SFUIDisplay'),
       url('../fonts/SFUIDisplay/SFUIDisplay500/SFUIDisplay-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SFUIDisplay/SFUIDisplay500/SFUIDisplay-Medium.woff') format('woff') /* Modern Browsers */
}